@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kyhbb1');
  src:  url('fonts/icomoon.eot?kyhbb1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kyhbb1') format('truetype'),
    url('fonts/icomoon.woff?kyhbb1') format('woff'),
    url('fonts/icomoon.svg?kyhbb1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
