.procentaje-0{
	background:#D50000;
}
.procentaje-1{
	background:#D50000;
}
.procentaje-2{
	background:#D50000;
}
.procentaje-3{
	background:#D50000;
}
.procentaje-4{
	background:#D50000;
}
.procentaje-5{
	background:#FF1300;
}
.procentaje-6{
	background:#FF1300;
}
.procentaje-7{
	background:#FF1300;
}
.procentaje-8{
	background:#FF1300;
}
.procentaje-9{
	background:#FF1300;
}
.procentaje-10{
	background:#FF2A00;
}
.procentaje-11{
	background:#FF2A00;
}
.procentaje-12{
	background:#FF2A00;
}
.procentaje-13{
	background:#FF2A00;
}
.procentaje-14{
	background:#FF2A00;
}
.procentaje-15{
	background:#FF5100;
}
.procentaje-16{
	background:#FF5100;
}
.procentaje-17{
	background:#FF5100;
}
.procentaje-18{
	background:#FF5100;
}
.procentaje-19{
	background:#FF5100;
}
.procentaje-20{
	background:#FF7C00;
}
.procentaje-21{
	background:#FF7C00;
}
.procentaje-22{
	background:#FF7C00;
}
.procentaje-23{
	background:#FF7C00;
}
.procentaje-24{
	background:#FF7C00;
}
.procentaje-25{
	background:#FF8000;
}
.procentaje-26{
	background:#FF8000;
}
.procentaje-27{
	background:#FF8000;
}
.procentaje-28{
	background:#FF8000;
}
.procentaje-29{
	background:#FF8000;
}
.procentaje-30{
	background:#FF9E00;
}
.procentaje-31{
	background:#FF9E00;
}
.procentaje-32{
	background:#FF9E00;
}
.procentaje-33{
	background:#FF9E00;
}
.procentaje-34{
	background:#FF9E00;
}
.procentaje-35{
	background:#FFB600;
}
.procentaje-36{
	background:#FFB600;
}
.procentaje-37{
	background:#FFB600;
}
.procentaje-38{
	background:#FFB600;
}
.procentaje-39{
	background:#FFB600;
}
.procentaje-40{
	background:#FFCD00;
}
.procentaje-41{
	background:#FFCD00;
}
.procentaje-42{
	background:#FFCD00;
}
.procentaje-43{
	background:#FFCD00;
}
.procentaje-44{
	background:#FFCD00;
}
.procentaje-45{
	background:#FFDC00;
}
.procentaje-46{
	background:#FFDC00;
}
.procentaje-47{
	background:#FFDC00;
}
.procentaje-48{
	background:#FFDC00;
}
.procentaje-49{
	background:#FFDC00;
}
.procentaje-50{
	background:#E4FF00;
}
.procentaje-51{
	background:#E4FF00;
}
.procentaje-52{
	background:#E4FF00;
}
.procentaje-53{
	background:#E4FF00;
}
.procentaje-54{
	background:#E4FF00;
}
.procentaje-55{
	background:#DCFF00;
}
.procentaje-56{
	background:#DCFF00;
}
.procentaje-57{
	background:#DCFF00;
}
.procentaje-58{
	background:#DCFF00;
}
.procentaje-59{
	background:#DCFF00;
}
.procentaje-60{
	background:#C1FF00;
}
.procentaje-61{
	background:#C1FF00;
}
.procentaje-62{
	background:#C1FF00;
}
.procentaje-63{
	background:#C1FF00;
}
.procentaje-64{
	background:#C1FF00;
}
.procentaje-65{
	background:#B6FF00;
}
.procentaje-66{
	background:#B6FF00;
}
.procentaje-67{
	background:#B6FF00;
}
.procentaje-68{
	background:#B6FF00;
}
.procentaje-69{
	background:#B6FF00;
}
.procentaje-70{
	background:#97FF00;
}
.procentaje-71{
	background:#97FF00;
}
.procentaje-72{
	background:#97FF00;
}
.procentaje-73{
	background:#97FF00;
}
.procentaje-74{
	background:#97FF00;
}
.procentaje-75{
	background:#78FF00;
}
.procentaje-76{
	background:#78FF00;
}
.procentaje-77{
	background:#78FF00;
}
.procentaje-78{
	background:#78FF00;
}
.procentaje-79{
	background:#78FF00;
}
.procentaje-80{
	background:#61FF00;
}
.procentaje-81{
	background:#61FF00;
}
.procentaje-82{
	background:#61FF00;
}
.procentaje-83{
	background:#61FF00;
}
.procentaje-84{
	background:#61FF00;
}
.procentaje-85{
	background:#4DFF00;
}
.procentaje-86{
	background:#4DFF00;
}
.procentaje-87{
	background:#4DFF00;
}
.procentaje-88{
	background:#4DFF00;
}
.procentaje-89{
	background:#4DFF00;
}
.procentaje-90{
	background:#36FF00;
}
.procentaje-91{
	background:#36FF00;
}
.procentaje-92{
	background:#36FF00;
}
.procentaje-93{
	background:#36FF00;
}
.procentaje-94{
	background:#36FF00;
}
.procentaje-95{
	background:#33D806;
}
.procentaje-96{
	background:#33D806;
}
.procentaje-97{
	background:#33D806;
}
.procentaje-98{
	background:#33D806;
}
.procentaje-99{
	background:#33D806;
}
.procentaje-100{
	background:#2DBD06;
}